h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 360px;
  height: 200px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 36px;
  background-color: #fff;
}

.search-form {
  display: flex;
  gap: 8px;
  max-width: 371px;
  margin: 0 auto 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

input:hover {
  border: 1px solid #000;
}

input:focus,
input:active {
  border: 1px solid #4e75ff;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

button:focus,
button:active {
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 1134px;
}

.thumb {
  position: relative;
  border: 1px solid #808080;
}

.gallery-data-list {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 360px;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}

.gallery-data-item h3 {
  font-weight: 600;
}

.gallery-data-item p {
  line-height: 200%;
  text-align: center;
}

/* === Loader === */

.hidden {
  display: none;
}

.loader {
  border: 8px double #d2ecaa;
  border-radius: 50%;
  border-top: 8px solid #38db69;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
